<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>상품등록</h2>
    <form method="post" action="goodsInsertOk"
          enctype="multipart/form-data">
        상품번호 : <input type="text" name="no"><br>
        상품이름 : <input type="text" name="item"><br>
        수량 :    <input type="text" name="qty"><br>
        가격 :    <input type="text" name="price"><br>
        이미지명 : <input type="file" name="fname"><br>
        상품상세 :<br>
        <textarea rows="5" cols="80" name="detail"></textarea>
        <br>
        <button>등록</button>
    </form>
</body>
</html>